{% extends "base.html" %}
{# <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> #}
{% block extrahead %}
<style type="text/css">
#slider { margin: 10px; width:50%;}
</style>
<script type="text/javascript">
$(function(){
    function add_to_list(filename){
        $("#playlist").html($("#playlist").html() + filename + "<br>");
    }
    function clear_list(){
        $("#playlist").html("");
    }
    function sync(){
        var vlc_status = eval($.ajax({type:"GET", url:"/status", async:false}).responseText)[0];
        $("#slidervalue").html("0%");
        $("#slider").slider("value", 0);
        if(vlc_status["status"]=="playing" || vlc_status["status"]=="paused"){
            $("#status").html(vlc_status["status"]);
            $("#title").html(vlc_status["filename"]);
            timer.play();
            var time = $.ajax({type:"GET", url:"/time", async:false}).responseText;
            $("#slidervalue").html(time+"%");
            $("#slider").slider("value", time);
        }
    }
    
    var timer = $.timer(sync);
    timer.set({time:10000, autostart:false});
    $(document).ready(function() {
        $("#slider").slider({
            "start":function(event, ui){
                timer.stop();
            },
            "slide":function(event, ui){
                $("#slidervalue").html(ui.value+"%");
            },
            "stop":function(event, ui){
                $.ajax({type:"POST",url:"/control",data:"command=seek=seek "+ ui.value + csrf});
                timer.play();
            }
        });
        sync();
    });
    var csrf = "&csrfmiddlewaretoken=" + $("input[name='csrfmiddlewaretoken']").val();
    $('input[name="select"]').click(function(){
        var filename = $(this).attr("filename");
        $.ajax({type:"POST",url:"/select",data:"filename=" + filename + csrf});
        add_to_list(filename);
        $(this).delay(10).queue(sync);
    });
    function play(){
        $.ajax({type:"POST",url:"/control",data:"command=play" + csrf});
        timer.play();
        $(this).delay(10).queue(sync);
    }
    function pause(){
        $.ajax({type:"POST",url:"/control",data:"command=pause" + csrf});
        $(this).delay(10).queue(sync);
    }
    function stop(){
        $.ajax({type:"POST",url:"/control",data:"command=stop" + csrf});
        $("#status").html("stopped");
        $("#slidervalue").html("0%");
        $("#slider").slider("value", 0);
        $("#title").html("");
        timer.stop();
    }
    function clear(){
        $.ajax({type:"POST",url:"/control",data:"command=clear" + csrf});
        stop();
        clear_list();
        $('input[name="select"]').attr("checked", false);
    }
    function prev(){
        $.ajax({type:"POST",url:"/control",data:"command=prev" + csrf});
        $(this).delay(50).queue(pause);
        $(this).delay(100).queue(sync);
    }
    function next(){
        $.ajax({type:"POST",url:"/control",data:"command=next" + csrf});
        $(this).delay(50).queue(pause);
        $(this).delay(100).queue(sync);
    }
    $("#play").click(play);
    $("#pause").click(pause);
    $("#stop").click(stop);
    $("#clear").click(clear);
    $("#prev").click(prev);
    $("#next").click(next);
});
</script>
{% endblock %}

{% block content %}
<div id="content">
    <div id="header">
        <h1>アルパカ〜</h1>
    </div>
    配信URL : http://{{ip}}:8080
    <div class="body">
    <div id="controller">
        <p><span id="status"></span> : <span id="title"></span></p>
        <div id="slider"></div> <span id="slidervalue"></span>
        <button id="play">▶</button>
        <button id="pause">||</button>
        <button id="stop">■</button>
        &nbsp;&nbsp;<button id="prev"><<</button>
        <button id="next">>></button>
        &nbsp;&nbsp;<button id="clear">clear</button>
    </div>
    <br>
    <div id="playlist">
        {% for filename in  playlist %}
            {{ filename }}<br/>
        {% endfor %}
    </div>
    <br>
    {% for filename in files %}
        <ul>
            <li><input type="checkbox" name="select" filename="{{ filename }}"> : {{ filename }}</li>
        </ul>
    {% endfor %}
    </div>
    {% csrf_token %}
</div>
{% endblock %}